# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Go

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.22'

    - name: Build
      run: go build -v ./...

    - name: Test
      run: go test -v ./...

    - name: Run example
      run: |
        cd example
        make build-docker
        docker run --rm --network=host -v "$PWD/../.:/workdir" -w /workdir/example fuzzing:v1.0.0 /bin/bash -exc 'cp -r initial-corpus/ corpus; make coverage DURATION=60'
